* {
  --font-counter: "Varela Round", "Azeret Mono", sans-serif;
  --font-h2: "Maven Pro", sans-serif;
  --font-h3: "Maven Pro", sans-serif;
  --font-p: "Montserrat", sans-serif;

  --color-background-app: rgb(255, 77, 77);
  --color-background-section: rgb(102, 102, 255);
  --color-link-normal: rgb(64, 64, 64);
  --color-link-hover: rgb(78, 78, 78);
  --color-text-main: rgb(255, 255, 255);
  --color-text-modal: rgb(45, 45, 45);
  --color-button-normal: rgb(255, 255, 255);
  --color-button-hover: rgb(230, 230, 230);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-p);
}

body {
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#app {
  height: 100vh;
  padding: 10%;
  align-items: center;
  text-align: center;
  background-color: var(--color-background-app);
}

.counter-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.counter {
  font-family: var(--font-counter);
  font-size: 6rem;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  color: white;
}

#main-button-background {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 220px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.main-button {
  width: 10rem;
  height: 60px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-background-app);
  text-transform: uppercase;
  background-color: var(--color-button-normal);
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main-button:hover {
  background-color: var(--color-button-hover);
}

#main-settings-button {
  margin-left: 8px;
  font-size: 36px;
  color: var(--color-button-normal);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

#main-settings-button:hover {
  color: var(--color-button-hover);
  transform: rotate(-180deg);
}

#about {
  background-color: var(--color-background-section);
  color: var(--color-text-main);
  padding: 3rem 20%;
}

h2 {
  font-family: var(--font-h2);
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-family: var(--font-h3);
  font-size: 1.5rem;
  font-weight: 700;
}

.underline {
  width: 2rem;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  margin: 0.5rem 0 2rem 0;
}

p {
  margin-bottom: 2rem;
  line-height: 2rem;
  text-align: justify;
}

p a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-link-normal);
}

p a:hover {
  color: var(--color-link-hover);
}

footer {
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

footer ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

footer li {
  margin: 0 0.5rem;
  display: flex;
}

footer a,
footer span {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a,
footer button {
  background: none;
  border: none;
  color: var(--color-button-normal);
  text-decoration: none;
  cursor: pointer;
}

footer a:hover,
footer button:hover {
  color: var(--color-button-hover);
}

@media (max-width: 48rem) {
  .counter-frame {
    width: 60%;
    margin-top: 20%;
  }

  .counter {
    font-size: 12vw;
  }

  .underline {
    width: 100%;
  }
}
